<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69669504897-5k03lutb2fg552s8gm3a50ni1c0sel96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69669504897-5k03lutb2fg552s8gm3a50ni1c0sel96</string>
	<key>API_KEY</key>
	<string>AIzaSyCndT2YZ7T4noApnh4jPZRboBzpYpNxOio</string>
	<key>GCM_SENDER_ID</key>
	<string>69669504897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.UI-app</string>
	<key>PROJECT_ID</key>
	<string>gb-project1641</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-project1641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69669504897:ios:d46e516c521999630c0a80</string>
</dict>
</plist>